:root {
  --color-text-dark: rgba(255, 255, 255, 0.87);
  --color-bg-dark: #242424;
  --color-primary: #646cff;
  --color-primary-hover: #535bf2;
  --color-primary-shadow: #646cffaa;
  --color-button-bg-dark: #1a1a1a;

  --color-text-light: #213547;
  --color-bg-light: #ffffff;
  --color-primary-light-hover: #747bff;
  --color-button-bg-light: #f9f9f9;

  /* Defaults */
  --color-text: var(--color-text-dark);
  --color-bg: var(--color-bg-dark);
  --color-button-bg: var(--color-button-bg-dark);
}

@media (prefers-color-scheme: light) {
  :root {
    --color-text: var(--color-text-light);
    --color-bg: var(--color-bg-light);
    --color-primary-hover: var(--color-primary-light-hover);
    --color-button-bg: var(--color-button-bg-light);
  }
}
